.card-left, .row, .cover, .fill {
  height: 99%;
}
.card {
  height: 500px;
}
.card-top {
  height: 50%;
}
.fill {
  object-fit: scale-down;
}
.cursor {
  cursor: pointer;
}
.cover {
  width: 100%;
  object-fit: scale-down;
}
.card.cart-card {
  height: 400px;
}
